@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  position: relative;
  /* Para garantir que o footer fique fixo no final da página */
}

/* Estilo do footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #9b5d00;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 100;
  /* Ajuste o z-index conforme necessário */
}

a {
  text-decoration: none;
}

.navbar {
  z-index: 1000;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  /* Torna os elementos filhos flexíveis */
  justify-content: space-between;
  /* Distribui o espaço entre os elementos */
  align-items: center;
  /* Alinha os elementos verticalmente ao centro */
  padding: 10px 20px;
  /* Adicione preenchimento conforme necessário */
  background-color: transparent;
  /* Defina a cor de fundo desejada */
  transition: background-color 0.3s ease;
  /* Adiciona transição suave */
  position: fixed;
  width: 100vw;
  height: 14vh;
}


/* Estilo da navbar quando está com cor */
.navbar.colored {
  background-color: #fff;
  /* Altere a cor conforme necessário */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Adicione sombra se desejar */
}

.navbar.opacity {
  background-color: #ffffff6e;
  backdrop-filter: saturate(180%) blur(4px);
}

/* Outros estilos para a navbar */
#icones {
  display: block;
  margin-left: 17em;

}

#icones a {
  margin-right: 5em;
  /* Adicione um valor conforme necessário */
  text-decoration: none;
  color: #000;
}

#icones a:hover {

  color: black;
}


#icones img {
  width: 200px;
  height: 200px;
  margin-right: 15em;
  /* Adicione um valor conforme necessário */
}

/* Estilos de outras seções da página */

#icones {
  display: flex;
  justify-content: space-around;
  width: 700px;
  align-items: center;
  color: white;
  
}

.imagem {
  position: fixed;
  z-index: -1;
}
#tek {
  color: #FF9A00;
}

#contact {
  background-color: #f9f9f9;
  padding: 40px 0;
}

#contact .container {
  max-width: 600px;
  margin: 0 auto;
}

#contact h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

#contact-form {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#contact-form textarea {
  height: 150px;
}

#contact-form button {
  background-color: #ff9a00;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact-form button:hover {
  background-color: #ffcc00;
}

#but {
  background-color: #ff9a00;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: -100px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 5em;
  margin-right: 250px;

}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: white;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f5f5f5;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}